.contact {
  & h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-top: 3.25rem;

    @include mediaUp('md') {
      margin-bottom: 3.25rem;
    }
  }
  &__diagonal {
    height: 6.5rem;
    max-height: 5vw;
    clip-path: polygon(0 100%, 100% 0, 100% 1000%, 0 100%);
    background-color: $bg-lighter;
  }
  &__content-wrapper {
    background-color: $bg-lighter;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding-bottom: 2rem;

    @include mediaUp('md') {
      grid-template-columns: 4fr 6fr;
      gap: 1.5rem;
      padding-bottom: 3.25rem;
    }
    @include mediaUp('lg') {
      gap: 2.5rem;
    }
  }
  &__form {
    @extend .section;
    order: 2;

    @include mediaUp('md') {
      order: 1;
    }

    & .button {
      font-size: 1rem;
      padding: 0.5rem 1rem;

      @include mediaUp('md') {
        font-size: 1.125rem;
        padding: 0.5rem 1.25rem;
      }
    }
  }
  &__info {
    color: $text-secondary;
    order: 1;

    & p {
      margin-bottom: 1.25rem;
    }

    @include mediaUp('md') {
      order: 2;
    }
  }
}
