h1 {
  font-size: 3.25rem;

  @include mediaUp('md') {
    font-size: 4rem;
  }
}

h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 600;

  @include mediaUp('md') {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;

  @include mediaUp('md') {
    font-size: 2rem;
  }
}

p {
  @include font-size;
  margin: 0;
}
